.formBox {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;

    &>div  {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 22px;
        width: 100%;
    
        &>p {
            color: var(--color-grey-1);
    }
    
    }
    
}